@import url('https://fonts.googleapis.com/css2?family=Righteous&display=swap');

* {
    margin: 0;
    padding: 0;
}

body {
    font-size: 100%;
    background: linear-gradient(68.15deg, #2F2325 24.62%, #7F41AF 85.61% );
}

.cabecalho {
    display: flex; /*flexbox*/
    flex-direction: row; /*direção da linha horizontal*/
    align-items: center;
    justify-content: space-around;
    padding: 24px; /*todos os lados*/
}
/*parent tag parte pai
logo e menu é a parte filho*/

.logo-cabecalho {
    height: 72px; /*altura*/
}

.cabecalho-menu {
    display: flex;
    gap: 32px; /*distância entre os elementos dentro da tag pai*/
}
/*tambem pode ser uma tag pai para outros tutorial, comunidade...(tags ancoras) <a>*/

.cabecalho-menu-item {
    font-family: 'Sarala', sans-serif;
    color: #fff2e7;
    font-weight: 400; /*destaque, negrito*/
    font-size: 18px; /* tamanho da fonte*/
    text-decoration: none /*tira o sublinhado do href*/
}

.conteudo {
    margin-bottom: 48px; /*distância da linha da margem do footer ate o umtimo conteudo-secundario*/
    border-top: 0.4px solid #FFF2E7; /*borda do topo, solida*/
}

.conteudo-principal {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;  
}

.conteudo-principal-escrito {
    display: flex;
    flex-direction: column;
    gap: 32px;
}

.conteudo-principal-escrito-titulo {
    font-family: 'Righteous', cursive;
    font-weight: 400;
    font-size: 64px;
    color: #FFF2E7
}

.conteudo-principal-escrito-subtitulo {
    font-family: 'Sarala', sans-serif;
    font-weight: 400;
    font-size: 24px;
    color: #ECD6C4;
}

.conteudo-principal-escrito-botao {
    background-color: #ECD6C4;
    width: 180px; /*largura*/
    height: 60px; /*altura*/
    border: none;
    box-shadow: 4px 5px 4px rgba(0, 0, 0, 0.25); /*sombra do botão*/
    border-radius: 20px;
    font-family: 'Sarala', sans-serif;
    font-weight: 400;
    font-size: 24px;
    color: #2F2325
}

.conteudo-principal-escrito-botao:hover {
    background-color: rgba(236, 214, 196, 0.53);
}

.conteudo-principal-imagem {
    height: 430px;
}

.conteudo-secundario {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 24px;
    margin-top: 48px; /*distância do conteudo primario para o secundário */
} 

.conteudo-secundario-titulo {
    border-top: 0.4px solid #FFF2E7;
    padding-top: 48px; /*não usou margin-top pois daria uma distancia maior do elemento*/
    font-family: 'Righteous' , cursive;
    font-weight: 400;
    font-size: 24px;
    color: #FFF2E7;
    margin-bottom: 16px;
}

.conteudo-secundario-paragrafo {
    font-family: 'Sarala', sans-serif;
    font-weight: 300;
    font-size: 18px;
    color:#ECD6C4;
}

.rodape {
    padding: 32px;
    border-top: 0.4px solid #FFF2E7;
}

.imagem-rodape {
    height: 48px;
    display: block; /*centraliza um elemento*/
    margin: 0 auto; /*centraliza sem margem*/
}


/*Righteous
@import url('https://fonts.googleapis.com/css2?family=Righteous&display=swap');

/*sarala
@import url('https://fonts.googleapis.com/css2?family=Righteous&display=swap');